.App {
  text-align: center;
}

.smurf-form{
  width:25%;
}
.smurfs{
  color:#007bff;
  font-weight: bold;
}
.form-container{
  display:flex;
  flex-direction: column; 
  align-items: center;
  margin:2%;  
}
div h1{
  margin:2%;
}
.input-field{
  margin-bottom:1%;
}

.smurf-card{
  width:25%;
  max-width: 25%;
  margin: 2%;
}
.smurf-container{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:3%;
}